<footer class="site-footer">
  <ul class="fa-ul">
    <li>
      <a href="https://github.com/ntdyjack/" target="_blank">
        <i class="fa fa-github-square" aria-hidden="true"></i>
      </a>
    </li>
    <li>
      <a href="https://scholar.google.com/citations?user=KXKrFoAAAAAJ" target="_blank">
        <i class="fa fa-google" aria-hidden="true"></i>
       </a>
    </li>
  </ul>
  <span class="site-footer-credits">Copyright © {{ site.time | date: '%Y' }} {{ site.author }}</span>
</footer>
